.forgotten__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 583.15px;
  padding: 30px;
  border-radius: 9px;
  background-color: white;
}

.forgotten__height {
  height: 405px;
}

.forgotten__form__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line {
  color: var(--color-black);
}

@media (max-width: 650px) {
  .forgotten__content {
    width: 90%;
  }

  .forgotten__inputs__box {
    width: 100%;
  }

  .forgotten__link__text,
  .forgotten__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
