.mw__button {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  text-align: center;
}

button.mw__button.disabled {
  background: #d8d8d8 !important;
  color: #606060;
  cursor: auto !important;
}

.mw__button--primary {
  background: linear-gradient(to right, #3c2c9fb2, #c934d2b2);
  color: white;
}

.mw__button--secondary {
  background: var(--color-hover-light);
  color: black;
}
