<section class="alert__container rounded-xl">
  <div class="alert__header px-4 pb-4 pt-5">
    <h2 class="text-lg font-bold">
      {{ title }}
    </h2>
  </div>
  <br />
  <div class="alert__content px-4">
    <p class="text-base">
      {{ message }}
    </p>
    <br />
    <div class="flex flex-col gap-2">
      <mw-button
        text="Cancelar"
        color="secondary"
        (click)="cancel.emit()"
      ></mw-button>
      <mw-button
        text="Aceptar"
        color="primary"
        (click)="confirm.emit()"
      ></mw-button>
    </div>
  </div>
</section>
