<section class="alert__container rounded-xl">
  <div class="alert__header px-4 pb-4 pt-5">
    <h2 class="text-lg font-bold text-center">
      {{ title }}
    </h2>
  </div>
  <br />
  <div class="alert__content px-4 pb-4">
    <p class="text-base">
      {{ message }}
    </p>
    <br />
    <div class="alert__buttons__box flex gap-2 h-full">
      <mw-button
        class="w-full"
        color="secondary"
        [text]="cancelText"
        (click)="cancel.emit()"
      ></mw-button>
      <mw-button
        class="w-full"
        color="primary"
        [text]="confirmText"
        (click)="confirm.emit()"
      ></mw-button>
    </div>
  </div>
</section>
