.alert__container {
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  width: 26vw;
  background-color: var(--sidebar-primary-light);
}

.alert__header {
  background-color: var(--color-hover-light);
}

@media (max-width: 700px) {
  .alert__container {
    width: 80vw;
  }

  .alert__buttons__box {
    flex-direction: column;
  }
}
