<auth-background>
  <div class="login__content">
    <div class="login__img__box">
      <img src="assets/img/logo-midway.svg" />
    </div>
    <div class="login__inputs__box">
      <form class="login__form__content" [formGroup]="form" (ngSubmit)="send()">
        <div class="login__input__email input__box">
          <div class="login__input__box">
            <label class="input__label text-sm" for="email"> Email </label>
            <span
              class="input__required"
              mwInputError
              [ensureTouched]="false"
              [error]="form.get('email')"
              >{{ form.get("email").errors | emailErrorSetter }}</span
            >
          </div>
          <input
            id="email"
            class=""
            type="text"
            formControlName="email"
            mwInput
            mwInputInvalid
            [error]="form.get('email')"
          />
        </div>
        <div class="login__password__email input__box">
          <div class="login__input__box">
            <label class="input__label text-sm" for="password">
              Contraseña
            </label>
            <span
              class="input__required"
              mwInputError
              [ensureTouched]="false"
              [error]="form.get('password')"
              >{{ form.get("password").errors | passwordErrorSetter }}</span
            >
          </div>
          <div class="input__password">
            <input
              id="password"
              class="password__input"
              type="password"
              formControlName="password"
              mwInput
              mwInputInvalid
              onShowPassword
              [showPassword]="showPassword"
              [error]="form.get('password')"
            />
            <button
              class="show__password"
              (click)="showPassword = !showPassword"
            >
              @if (showPassword) {
              <i class="fa-solid fa-eye-slash text-xs auth__icon"></i>
              } @else {
              <i class="fa-solid fa-eye text-xs auth__icon"></i>
              }
            </button>
          </div>
        </div>
        <div class="login__forgot__password__box">
          <button
            class="forgot__password__text"
            [routerLink]="['../forgotten']"
          >
            ¿Olvidaste tu contraseña?
          </button>
        </div>
      </form>
    </div>
    <div class="login__button__box">
      <mw-button
        text="Iniciar sesión"
        [isDisabled]="form.invalid"
        (click)="send()"
      ></mw-button>
    </div>
    <div class="login__oauth__box">
      <div class="login__oauth__text">
        <hr class="flex-grow mr-2" />
        o inicia sesión con
        <hr class="flex-grow ml-2" />
      </div>
      <div class="login__oauth">
        <mw-oauth-google></mw-oauth-google>
      </div>
    </div>
    <div class="login__register__box">
      <p>
        ¿No tienes una cuenta aún?
        <a class="login__register" [routerLink]="['../register']"
          >Regístrate aquí</a
        >
      </p>
    </div>
  </div>
</auth-background>
