
.alert__container{
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 0.5s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
  
@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
  
  
/* Agregar la animación de entrada cuando tiene la clase 'show' */
.alert__container.show {
    display: flex;
    animation: slideIn 0.5s ease;
}

/* Agregar la animación de salida cuando tiene la clase 'hide' */
.alert__container.hide {
    display: none;
    animation: slideOut 0.5s ease;
}
