<h2
  *ngIf="size === 'title' || size === 'hero'"
  class="text-2xl"
  [class]="classes"
  [style.color]="color"
  [innerHTML]="text"
></h2>

<h3
  *ngIf="size === 'subtitle'"
  class="text-xl"
  [class]="classes"
  [style.color]="color"
  [innerHTML]="text"
></h3>

<p
  *ngIf="size === 'normal'"
  class="text-base"
  [class]="classes"
  [style.color]="color"
  [innerHTML]="text"
></p>

<p
  *ngIf="size === 'small'"
  class="text-sm"
  [class]="classes"
  [style.color]="color"
  [innerHTML]="text"
></p>

<p
  *ngIf="size === 'extra-small'"
  class="text-xs"
  [class]="classes"
  [style.color]="color"
  [innerHTML]="text"
></p>
