@font-face {
  font-family: "Hind Madurai";
  src: url("/assets/fonts/HindMadurai-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("/assets/fonts/HindMadurai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("/assets/fonts/HindMadurai-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("/assets/fonts/HindMadurai-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("/assets/fonts/HindMadurai-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
