<form
  class="flex flex-col gap-1 justify-center items-center w-full h-full"
  [formGroup]="form"
  (keyup.enter)="confirm()"
>
  <div class="forgotten__description">
    <p>Por favor, a continuación ingresa una nueva contraseña.</p>
  </div>
  <div class="flex flex-col gap-2 w-full">
    <div class="input__box w-full">
      <div class="register__input__box">
        <label class="input__label text-sm w-full" for="password">
          Nueva contraseña
        </label>
        <span
          class="input__required alin"
          mwInputError
          [ensureTouched]="false"
          [error]="form.get('password')"
        >
          {{ form.get("password").errors | passwordErrorSetter }}
        </span>
      </div>
      <div class="input__password">
        <input
          class="password__input"
          type="password"
          id="password"
          onShowPassword
          mwInput
          mwInputInvalid
          formControlName="password"
          [showPassword]="showPassword"
          [error]="form.get('password')"
        />
        <button class="show__password" (click)="showPassword = !showPassword">
          <i class="fa-solid fa-eye show__icon"></i>
        </button>
      </div>
    </div>

    <div class="input__box w-full">
      <div class="register__input__box">
        <label class="input__label text-sm w-full" for="confirm__password">
          Confirmar nueva contraseña
        </label>
        <span
          class="input__required"
          mwInputError
          [ensureTouched]="false"
          [error]="
            form.get('confirmPassword').errors
              ? form.get('confirmPassword')
              : form
          "
        >
          {{
            (form.get("confirmPassword").errors
              ? form.get("confirmPassword").errors
              : form.errors
            ) | confirmPasswordErrorSetter
          }}
        </span>
      </div>
      <div class="input__password">
        <input
          class="password__input"
          type="password"
          id="confirm__password"
          onShowPassword
          mwInput
          mwInputInvalid
          formControlName="confirmPassword"
          [showPassword]="showConfirmPassword"
          [error]="form.get('confirmPassword')"
        />
        <button
          class="show__password"
          (click)="showConfirmPassword = !showConfirmPassword"
        >
          <i class="fa-solid fa-eye show__icon"></i>
        </button>
      </div>
    </div>

    <div class="forgotten__button__box w-full">
      <mw-button
        text="Confirmar"
        [isDisabled]="form.invalid || isLoading"
        [isLoading]="isLoading"
        (click)="confirm()"
      ></mw-button>
    </div>
  </div>
</form>
