.register__form__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register__input__box {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.input__password {
  position: relative;
}

.show__password {
  position: absolute;
  right: 0;
  height: 100%;
  width: 10%;
}

.password__input {
  padding-right: 1.8vw !important;
}
